{% extends "layouts/base.njk" %}

{% block content %}
  <scw-stack
    class="pageWidth"
    scw-padding-top-3s
    scw-gap-2s>

    <scw-element
      scw-text-08>
      {{ page.title }}
    </scw-element>
  </scw-stack>
{% endblock %}