{% extends "layouts/base.njk" %}

{% block content %}
  <scw-stack
    class="pageWidth"
    scw-padding-top-3s
    scw-gap-2s>

    <scw-element
      scw-text-08>
      {{ page.title }}
    </scw-element>

    {% for content in page.content %}
      {% if content._type == 'form' %}
        {% set form = content %}
        {% include "layouts/form.njk" %}
      {% endif %}
    {% endfor %}
  </scw-stack>
{% endblock %}