{% extends "layouts/base.njk" %}

{% block content %}
  <scw-stack class="pageWidth">
    <a href="{{ url('blogIndex') }}">All Blog Posts</a>
    <h2>{{ post.title }}</h2>
  <scw-stack>
{% endblock %}