{% extends "layouts/base.njk" %}

{% block content %}
  <scw-stack class="baseContent">
    <h1>BLOG LIST</h1>

    <div>{{ body }}</div>

    <ol>
      {% for post in postsList %}
        <li><a href="{{ url(post._type, post.slug) }}">{{ url(post._type, post.slug) }}</a></li>
      {% endfor %}
    </ol>
  </scw-stack>
{% endblock %}