{% set title = contentfulPage.fields.title %}
{% extends "layouts/base.njk" %}
{% import "contentful/contentSections/contentSection.njk" as contentSectionLayout %}

{% block content %}

  {% set theme = contentfulPage.fields.layouts[0].fields.theme %}
  <scw-stack
    {% if theme != 'none' %}
      scw-theme-{{theme}}
    {% endif %}>
    {% for contentSection in contentfulPage.fields.content %}
      {{ contentSectionLayout.contentSectionLayout(contentSection, contentfulPage, context) }}
    {% endfor %}
  </scw-stack>
  
{% endblock %}