{% extends "layouts/base.njk" %}
{% import "contentful/contentSections/contentSection.njk" as contentSectionLayout %}

{% block content %}

  <scw-stack
    {% if contentfulPage.fields.theme == 'Mortgage' %}
      scw-theme-mortgage
    {% elseif contentfulPage.fields.theme == 'Investments' %}
      scw-theme-investments
    {% elseif contentfulPage.fields.theme == 'Primary' %}
      scw-theme-primary
    {% endif %}>
    {% for contentSection in contentfulPage.fields.content %}
      {{ contentSectionLayout.contentSectionLayout(contentSection, contentfulPage, context) }}
    {% endfor %}
  </scw-stack>
  
{% endblock %}