<scw-flex-h
  class="baseContent"
  scw-height-11s
  scw-alignment-stretch>
  <scw-flex-v
    scw-alignment-bottom>
    <scw-icon
      icon="icon-placeholder">
    </scw-icon>
  </scw-flex-v>
  <scw-flex-v
    scw-alignment-stretch
    scw-fill>
    <scw-flex-h
      scw-alignment-right-bottom
      scw-fill>
      <scw-menu
        aria-label="utility menu">
        {%- for navItem in navLists.utility.children -%}
          <scw-menu-item
            design="utility"
            aria-label="{{ navItem.title }}"
            href="{{ navItem.link.slug | url }}"
            target="_dsys">
          </scw-menu-item>
        {%- endfor -%}
        <scw-menu-item
          design="utility"
          icon="icon-placeholder"
          aria-label="Design System"
          href="{{ config.routes.designSystem | url }}"
          target="_dsys">
        </scw-menu-item>
      </scw-menu>
    </scw-flex-h>
    <scw-flex-h
      scw-alignment-right>
      <scw-menu
        aria-label="main menu">
        {%- for navItem in navLists.main.children -%}
          <scw-menu-item
            design="main"
            aria-label="{{ navItem.title }}"
            href="{{ navItem.link.slug | url }}"
            target="_dsys">
          </scw-menu-item>
        {%- endfor -%}
      </scw-menu>
    </scw-flex-h>
  </scw-flex-v>
</scw-flex-h>
<scw-element 
  scw-border-bottom-grey-09>
</scw-element>
