<scw-flex-v
  class="contentWidth"
  scw-padding-height-5s
  {% if contentSection.fields.layoutSide == 'center' %}
    scw-alignment-center
    style="text-align: center;"
  {% endif %}>
  {% if contentSection.fields.superTitle %}
    <scw-element
      scw-color-primary-04
      scw-text-bold-condensed-07
      style="text-transform: uppercase;">
      {{contentSection.fields.superTitle}}
    </scw-element>
  {% endif %}
  {% if contentSection.fields.title %}
    <scw-element
      scw-color-primary-02
      scw-text-bold-condensed-10
      scw-margin-bottom-1s
      style="text-transform: uppercase;">
      {{contentSection.fields.title}}
    </scw-element>
  {% endif %}
  {% if contentSection.fields.description %}
    <scw-element
      scw-color-grey-02
      scw-text-06>
      {{contentSection.fields.description}}
    </scw-element>
  {% endif %}

  {% set richText = contentSection.fields.content %}
  {% include "layouts/richText.njk" %}

  {% include "contentful/contentSections/edit.njk" %}
</scw-flex-v>