<scw-flex-v

  scw-padding-top-{{contentSection.fields.sectionLayout.fields.paddingTop }}s
  scw-padding-bottom-{{contentSection.fields.sectionLayout.fields.paddingBottom }}s

  {% if contentSection.fields.sectionLayout.fields.side == 'center' %}
    scw-alignment-center
    style="text-align: center;"
  {% endif %}>

  <scw-image
    object-fit="contain"
    style="
      width: 100px;
      height: 100px;"
    src="{{ contentfulImageUrl(contentSection.fields.image) }}"
    alt="{{ contentSection.fields.image.fields.title }}">
  </scw-image>

  {% if contentSection.fields.superTitle %}
    <scw-element
      scw-color-primary-04
      scw-text-bold-condensed-07
      style="text-transform: uppercase;">
      {{contentSection.fields.superTitle}}
    </scw-element>
  {% endif %}
  {% if contentSection.fields.title %}
    <scw-element
      scw-color-primary-02
      scw-text-bold-condensed-06
      style="text-transform: uppercase;">
      {{contentSection.fields.title}}
    </scw-element>
  {% endif %}
  {% if contentSection.fields.description %}
    <scw-element
      scw-color-grey-02
      scw-text-06>
      {{contentSection.fields.description}}
    </scw-element>
  {% endif %}

  {% include "contentful/contentSections/edit.njk" %}
</scw-flex-v>