<scw-flex-h
  class="pageWidth"
  scw-height-11s
  scw-alignment-stretch>
  <scw-flex-v
    scw-alignment-bottom
    scw-padding-bottom-1s>
    <scw-link
      design="plain"
      aria-label="I'm a div"
      href="{{ url( 'page', '') }}">
      <!--img 
        src="{ { imageUrl(metadata.logo, {width:160}) } }"
        alt="{ { metadata.logo.alt } }"
        title="{ { metadata.logo.caption } }"
        width="160" height="77" /-->
    </scw-link>
  </scw-flex-v>
  <scw-flex-v
    scw-alignment-stretch
    scw-fill
    scw-background-grey-10
    style="
      position: initial;
      z-index: 100;"
    scw-stack-bp-md>
    <scw-flex-h
      scw-alignment-right-bottom
      scw-alignment-left-bp-md
      scw-hide-bp-md
      scw-fill>
      <scw-menu
        aria-label="utility menu"
        scw-stack-bp-md>
        {%- for navItem in navLists.utility.children -%}
          <scw-menu-item
            design="utility"
            aria-label="{{ navItem.title }}"
            icon="icon-placeholder"
            href="{{ url( navItem.link._type, navItem.link.slug ) }}">
          </scw-menu-item>
        {%- endfor -%}
        <scw-menu-item
          design="utility"
          icon="icon-placeholder"
          aria-label="Design System"
          href="{{ url( 'direct', urls.DESIGN_SYSTEM_URL ) }}"
          target="_dsys">
        </scw-menu-item>
        {% if context.type == 'server' %}
          {% set previewUrl = [urls.PREVIEW, context.route] | join %}
          <scw-menu-item
            design="utility"
            icon="icon-placeholder"
            aria-label="Preview"
            href="{{ url( 'direct', previewUrl ) }}">
          </scw-menu-item>
        {% else %}
          <scw-menu-item
            design="utility"
            icon="icon-placeholder"
            aria-label="Static"
            href="{{ url( 'direct', context.route ) }}">
          </scw-menu-item> 
        {% endif %}
      </scw-menu>
    </scw-flex-h>
    <scw-flex-h
      scw-alignment-right
      scw-hide-bp-md
      style="position: initial;">
      <scw-menu
        aria-label="main menu"
        keyboard-direction="horizontal"
        style="position: initial;"
        scw-stack-bp-md>
        {%- for navItem in navLists.main.children -%}
          <scw-menu-item
            design="main"
            aria-label="{{ navItem.title }}"
            href="{{ url( navItem.link._type, navItem.link.slug ) }}">
          </scw-menu-item>
          {% if navItem.children.length > 0 %}
            <scw-menu
              aria-label="{{ navItem.title }} menu"
              aria-hidden="true"
              scw-stack
              scw-gap-2s
              scw-padding-2s
              scw-border-primary
              scw-background-color-grey-10
              style="
                position: absolute;
                top: 100%;
                display: none;
                z-index: 100;
                left: 0; right: 0;">
              {%- for subNavItem in navItem.children -%}
                <scw-menu-item
                  design="main"
                  color="primary"
                  aria-label="{{ subNavItem.title }}"
                  href="{{ url( subNavItem.link._type, subNavItem.link.slug ) }}">
                </scw-menu-item>
                {%- for subSubNavItem in subNavItem.children -%}
                  <scw-menu-item
                    design="main"
                    aria-label="{{ subSubNavItem.title }}"
                    href="{{ url( subSubNavItem.link._type, subSubNavItem.link.slug ) }}">
                  </scw-menu-item>
                {%- endfor -%}
              {%- endfor -%}
            </scw-menu>
          {% endif %}
        {%- endfor -%}
        <scw-menu-item
          design="main"
          aria-label="Blog Posts"
          href="{{ url( 'blogIndex') }}">
        </scw-menu-item>
      </scw-menu>
    </scw-flex-h>
  </scw-flex-v>

  {% if contentfulPage %}
    {% include "contentful/edit.njk" %}
  {% endif %}
</scw-flex-h>
<scw-element 
  scw-border-bottom-grey-09>
</scw-element>
