<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="canonical" href="https://www.summitcreditunion.com/">
    <link rel="shortlink" href="https://www.summitcreditunion.com/">
    <meta property="og:site_name" content="Summit Credit Union">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.summitcreditunion.com/">
    <meta property="og:title" content="Summit Credit Union">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://www.summitcreditunion.com/">
    <meta name="twitter:title" content="Summit Credit Union">
    <meta name="dcterms.title" content="Summit Credit Union">
    <meta name="dcterms.type" content="Text">
    <meta name="dcterms.format" content="text/html">
    <meta name="dcterms.identifier" content="https://www.summitcreditunion.com/">
    <meta name="apple-itunes-app" content="app-id=846243037">
    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="
      width=device-width,
      initial-scale=1.0,
      maximum-scale=1.0,
      user-scalable=no" />
    
    <!-- OSANO GDPR -->
    <script 
      async
      src="https://cmp.osano.com/6oaTaT4PVK0B30Y/2f08b4c3-dae4-47ad-a02e-e2e4fa3e5db1/osano.js">
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script 
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0LX5ZBPTPZ">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-0LX5ZBPTPZ');
    </script>
    <!-- ANALYTICS END -->

    <!--script type="module">
      import {defineComponents} from '/assets/scu-web-components/scw.js';
      defineComponents();
    </script>
    <link rel="stylesheet" rel="preload" href="/assets/scu-web-components/tokens/fonts.css" />
    <link rel="stylesheet" rel="preload" href="/ssr.css" /-->
  </head>
  <body>

    <h2>HEADER</h2>

    <a href="{{ url('home') }}">Home</a>

    {% block content %}
    {% endblock %}

    <div>
      Current page: {{ context.route }}
      Type: {{ context.type }} 
    </div>
  </body>
</html>
