---
layout: layouts/home.njk
navtitle: Archive
permalink:
  build: "{{ config.routes.blogPermalink }}index.html"
  preview: "/preview/posts/"
---

<h1>Archive</h1>

{% set postslist = collections.myPosts %}
{% include "postslist.njk" %}
