---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
permalink: 
  build: "/"
  preview: "/preview/"
---

<h1>{{ homePage.title }}ssss</h1>
{{ homePage.slug }}
{{ homePage.publishedAt }}

<scw-stack scw-gap-2s>
  {%- for row in homePage.content -%}
    <scw-flex-h
      scw-stack-bp-md
      scw-gap-2s>
      {% set rowLoop = loop %}
      {%- for cell in row.rowLayout -%}
        <scw-card scw-fill
          src="{{ urlFor(cell.mainImage).width(400).url() }}"
          alt="img alt text"
          heading="{{ cell.title }}"
          preload
          size="{% if rowLoop.index == 1 %}large{% elif rowLoop.index == 2 %}medium{% else %}small{% endif %}"
          description="{{ cell.excerpt }}">
        </scw-card>
      {%- endfor -%}
    </scw-flex-h>
  {%- endfor -%}
</scw-stack>


{#
{% set postslist = collections.myPosts %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<ul class="nav">
{%- for post in posts -%}
  <li>{{ post.title }} {{ post.url }}</li>
{%- endfor -%}

{%- for post in collections.myPosts -%}
  <li>{{ post.title }} {{ post.url }}</li>
{%- endfor -%}
</ul>

<ul class="nav">
  {%- for nav in collections.nav | reverse -%}
    <li 
      class="
        nav-item
        {% if nav.url == page.url %}
          nav-item-active
        {% endif %}">
      <a href="{{ nav.url | url }}">
        {{ nav.data.navtitle }}
      </a> 
    </li>
  {%- endfor -%}
</ul>
#}