---
layout: layouts/post
tags:
  - myPosts
pagination:
  alias: post
  data: posts
  size: 1
  addAllPagesToCollections: true
permalink:
  build: "{{ config.routes.blogPermalink }}{{ post.slug.current | slug }}/index.html"
  preview: "/preview/:slug/"
---
