---
layout: layouts/page
tags:
  - myPages
pagination:
  alias: pageObject
  data: pages
  size: 1
  addAllPagesToCollections: true
permalink: /{{ pageObject.slug.current | slug }}/index.html
---

HI YA PAGE